<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="v8Engine" class="pukteam.course.spring.di.impl.engine.V8Engine">
        <constructor-arg value="2000"/>
    </bean>

    <bean id="raceWheel" class="pukteam.course.spring.di.impl.wheel.RaceWheel" scope="prototype">
        <property name="size" value="40"/>
        <property name="pressure" value="35"/>
    </bean>

    <bean id="terrainWheel" class="pukteam.course.spring.di.impl.wheel.TerrainWheel" scope="prototype">
        <property name="size" value="35"/>
        <property name="pressure" value="20"/>
    </bean>

    <bean id="RaceCar" class="pukteam.course.spring.di.impl.vehicle.Car">

        <constructor-arg index="0" ref="v8Engine"/>
        <constructor-arg index="1">
            <list>
                <ref bean="raceWheel"/>
                <ref bean="raceWheel"/>
                <ref bean="raceWheel"/>
                <ref bean="raceWheel"/>
            </list>
        </constructor-arg>

    </bean>

    <bean id="Jeep" class="pukteam.course.spring.di.impl.vehicle.Car">
        <constructor-arg index="0" ref="v8Engine"/>
        <constructor-arg index="1" ref="JeepWheels"/>
    </bean>

    <bean id="CircusBicycle" class="pukteam.course.spring.di.impl.vehicle.CircusBicycle">
        <constructor-arg index="0" ref="terrainWheel"/>
        <constructor-arg index="1" ref="terrainWheel"/>
    </bean>

    <util:list id="JeepWheels" list-class="java.util.LinkedList">
        <ref bean="terrainWheel" />
        <ref bean="terrainWheel" />
        <ref bean="terrainWheel" />
        <ref bean="terrainWheel" />
    </util:list>
</beans>